@import 'plug/rem';
@import 'plug/variables';
@import 'plug/media-queries';
@import 'plug/mixins';
@import '../../node_modules/rfs/scss/rfs';

.blog {
  @include sectionMargin($margin-bottom: 200px);
  a {
    height: 100%;
  }
  .col-lg-4 {
    &:nth-child(odd) {
      .b-item {
        background-color: #362f2f;
      }
    }
    &:nth-child(even) {
      .b-item {
        background-color: #000000;
      }
    }
  }
  .b-item {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    transition: box-shadow .3s;
    height: 100%;
    @include mediaToUp($lg) {
      &:hover {
        box-shadow: 0 0 20px 0 rgba(#000, .2);
        .b-item-photo {
          img {
            transform: scale(1.05);
          }
          &::after {
            background-color: rgba(#000, .3);
          }
        }
      }
    }
    h3, p, button {
      color: inherit;
      font-style: inherit;
    }
    &-photo {
      position: relative;
      overflow: hidden;
      @include responsive-ratio(1, 1, true);
      &::after {
        @include pseudo;
        transition: background-color .4s;
      }
      img {
        @include responsive-img;
        transition: transform 1s linear;
      }
    }
    figcaption {
      font-style: normal;
      padding: rem(32px) rem(10px) 0;
      margin-bottom: rem(35px);
      h3 {
        @include rfs(26);
        font-weight: 400;
        line-height: 1em;
        text-transform: uppercase;
        margin-bottom: .65em;
      }
      p {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.3em;
      }
    }
    footer {
      margin-top: auto;
      padding: 0 rem(20px) rem(32px);
      button {
        display: block;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        padding: rem(10px) rem(60px);
        background-color: #c3a000;
        transition: all .3s;
        cursor: pointer;
        margin-top: auto;
        margin-bottom: rem(15px);
        border: 1px solid #c3a000;
        @include mx-auto;
        @include mediaToDown($lg) {
          transition: all .1s;
          &:active {
            background-color: transparent;
            box-shadow: 0 0 15px 0 rgba(#000, .3);
          }
        }
        @include mediaToUp($lg) {
          &:hover {
            background-color: transparent;
            box-shadow: 0 0 15px 0 rgba(#000, .3);
          }
        }
      }
      .footer-items-wrap {
        display: flex;
        justify-content: space-between;
        .b-footer-item {
          p {
            position: relative;
            font-size: 12px;
            font-weight: 300;
            letter-spacing: .1em;
            padding-left: 1.5em;
            &::before {
              @include pseudo($size: false);
              left: 0;
              top: 0;
              bottom: 0;
              width: 1em;
              @include background($size: contain);
            }
          }
          &:first-child {
            p {
              &::before {
                background-image: url('../img/blog/calendar.svg');
              }
            }
          }
          &:nth-child(2) {
            p {
              &::before {
                background-image: url('../img/blog/comment.svg');
              }
            }
          }
        }
      }
    }
  }
}

/* Pagination */
.pagination {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1em;
  text-transform: uppercase;
  @include sectionMargin($margin-top: 40px);
  @include mx-auto;
  a {
    @include textInherit;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    padding: rem(15px) rem(25px);
    &:hover {
    	color: #fff;
    }
  }
  .prev,
  .next {
    font-size: inherit;
    color: #ffffff;
    cursor: pointer;
    flex: 0 0 auto;
    line-height: inherit;
    font-weight: inherit;
    transition: all .4s;
    background-color: #362f2f; 
    &:hover {
      background-color: lighten(#362f2f, 5%);
      box-shadow: 0 0 20px 0 rgba(#000, .2);
    }
  }
  .prev {
    margin-right: 1.4em;
    &.disabled {
    	padding: rem(15px) rem(25px);
    }
  }
  .next {
    margin-left: 1.4em;
    &.disabled {
    	padding: rem(15px) rem(25px);
    }
  }
  &-number-wrap {
    display: flex;
    @include mediaToDown($sm) {
      flex-wrap: wrap;
    }
  }
  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    color: #000;
    line-height: 99%;
    font-weight: inherit;
    cursor: pointer;
    margin-right: 0.5em;
    border: 1px solid transparent;
    border-radius: 50%;
    transition: all .4s;
    width: 2.4em;
    height: 2.4em;
    &.dots {
      pointer-events: none;
    }
    &:hover:not(.dots) {
      background-color: #362f2f;
      box-shadow: 0 0 20px 0 rgba(#000, .2);
      color: #fff;
    }
    &:last-child {
      margin-right: 0;
    }
    &.selected {
      background-color: #362f2f;
      box-shadow: 0 0 20px 0 rgba(#000, .2);
      color: #fff;
    }
  }
}

/* End Pagination */