@import 'plug/rem';
@import 'plug/variables';
@import 'plug/media-queries';
@import 'plug/mixins';
@import '../../node_modules/rfs/scss/rfs';

.contacts {
  margin-top: 90px;
  .form {
    & * {
      color: #362f2f;
    }
    h2 {
      font-size: rem(18px);
      font-weight: 700;
      line-height: 1em;
      text-transform: uppercase;
      letter-spacing: .1em;
      margin-bottom: 1.9em;
    }
    form {
      fieldset {
        p {
          font-size: 14px;
          font-weight: 300;
          line-height: 1em;
          margin-bottom: .3em;
        }
        input[type="text"], textarea {
          caret-color: #362f2f;
        }
        input[type="text"], textarea {
          font-size: 1rem;
          width: 100%;
          border: 1px solid #362f2f;
          padding: rem(10px);
        }
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          height: rem(90px);
          input {
          }
        }
        &:nth-child(4) {
          height: 240px;
          textarea {
            height: 75%;
          }
        }
      }
      input[type="submit"] {
        position: relative;
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        line-height: 1em;
        cursor: pointer;
        text-transform: uppercase;
        padding: rem(15px) rem(85px);
        background-color: #362f2f;
        border: 1px solid #362f2f;
        transition: background-color .1s;
        &::after {
          position: absolute;
          content: "";
          display: block;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          background-image: linear-gradient(45deg,transparent,transparent,transparent);
        }
        @include mediaToDown($lg) {
          &:active {
            background-color: lighten(#362f2f, 10%);
          }
        }
        @include mediaToUp($lg) {
          &:hover {
            animation: blik .15s linear;
          }
          &:active {
            background-color: lighten(#362f2f, 10%);
          }
        }
        @keyframes blik {
          0%{background-image: linear-gradient(45deg, rgba(#fff, .1),transparent,transparent);}
          50%{background-image: linear-gradient(45deg, transparent,rgba(#fff, .3),transparent);}
          100%{background-image: linear-gradient(45deg, transparent,transparent,rgba(#fff, .1));}
        }
      }
      //////////////////////
      & label.error {
        display: block;
        color: red;
        font-size: rem(12px);
      }
      & input.error {
        border-color: red !important;
      }
      & input.valid {
        border-color: #00b700 !important;
      }
    }
  }
}