@import 'plug/rem';
@import 'plug/variables';
@import 'plug/media-queries';
@import 'plug/mixins';
@import 'plug/popup';
@import '../../node_modules/rfs/scss/rfs';

.main-page {
  .top {
    position: relative;
    &-slider {
      &-item {
        position: relative;
        overflow: hidden;
        @include responsive-ratio(1, 1, true);
        img {
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          filter: grayscale(100%);
        }
      }
    }
    .insert-top {
      position: absolute;
      overflow: hidden;
      left: 0;
      bottom: 0;
      width: 263px;
      height: 263px;
      background-color: #fff;
      &-slider {
        figure {
          figcaption {
            padding-left: rem(20px);
            max-width: 160px;
            h3 {
              color: #362f2f;
              font-size: rem(18px);
              font-weight: 400;
              line-height: 1em;
              text-transform: uppercase;
            }
            h4 {
              color: #362f2f;
              font-size: 14px;
              font-weight: 400;
              font-style: italic;
            }
            p {
              font-size: 14px;
              font-weight: 300;
              line-height: 1em;
            }
          }
        }
      }
    }
  }
}