<div class="squeeze-wrapper">
    <div class="squeeze-content">
        <header class="header">
            <div class="container">
                <div class="header-items">
                    <div class="nav">
                        <div class="nav-bar"></div>
                        <nav>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about_me.html">About me</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="portfolio.html">Portfolio</a></li>
                                <li><a href="contacts.html">Contacts</a></li>
                            </ul>
                        </nav>
                    </div>
                    <a href="index.html">
                        <figure class="logo auto-height">
                            <img src="img/logo.png" alt="Logo">
                        </figure>
                    </a>
                    <div class="soc-icons">
                        <a href="#"><img src="img/header/1.svg" alt="Fb"></a>
                        <a href="#"><img src="img/header/2.svg" alt="Tw"></a>
                        <a href="#"><img src="img/header/3.svg" alt="Inst"></a>
                        <a href="#"><img src="img/header/4.svg" alt="Google"></a>
                        <a href="#"><img src="img/header/5.svg" alt="Mail"></a>
                    </div>
                </div>
            </div>
        </header>