@import "_variables";
@import "_media-queries";

@mixin mx-auto {
  margin: {
   left: auto;
   right: auto;
  }
}
@mixin pseudo($display: block, $pos: absolute, $content: '', $size: true){
  content: $content;
  display: $display;
  position: $pos;
  @if $size {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
@mixin responsive-ratio($x,$y, $pseudo: false) {
  $padding: unquote( ( $y / $x ) * 100 + '%' );
  @if $pseudo {
   &:before {
    @include pseudo($pos: relative);
    width: 100%;
    padding-top: $padding;
   }
  } @else {
   padding-top: $padding;
  }
}
@mixin absolut($width: false) {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  @if $width {
    width: 100%;
  }
}
@mixin responsive-img() {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin transition($what: all, $when: .3s, $how: ease) {
  transition: $what $when $how;
}

@mixin background($repeat: no-repeat, $position: center center, $size: cover) {
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
}

@mixin textInherit($font-size: inherit, $font-weight: inherit, $font-style: inherit, $color: inherit, $line-height: inherit, $word-wrap: normal) {
  font: {
    size: $font-size;
    weight: $font-weight;
    style: $font-style;
  }
  color: $color;
  line-height: $line-height;
  word-wrap: $word-wrap;
}

@mixin sectionMargin($margin-top: false, $margin-bottom: false, $padding-top: false, $padding-bottom: false) {
  @if $margin-top {
    @include mediaToDown($sm) {
      margin-top: $margin-top - ($margin-top / 100) * 40;
    }
    @include mediaOnly($sm, $md) {
      margin-top: $margin-top - ($margin-top / 100) * 30;
    }
    @include mediaOnly($md, $lg) {
      margin-top: $margin-top - ($margin-top / 100) * 20;
    }
    @include mediaOnly($lg, $xl) {
      margin-top: $margin-top - ($margin-top / 100) * 10;
    }
    @include mediaToUp($xl) {
      margin-top: $margin-top;
    }
  }
  @if $margin-bottom {
    @include mediaToDown($sm) {
      margin-bottom: $margin-bottom - ($margin-bottom / 100) * 40;
    }
    @include mediaOnly($sm, $md) {
      margin-bottom: $margin-bottom - ($margin-bottom / 100) * 30;
    }
    @include mediaOnly($md, $lg) {
      margin-bottom: $margin-bottom - ($margin-bottom / 100) * 20;
    }
    @include mediaOnly($lg, $xl) {
      margin-bottom: $margin-bottom - ($margin-bottom / 100) * 10;
    }
    @include mediaToUp($xl) {
      margin-bottom: $margin-bottom;
    }
  }
  @if $padding-top {
    @include mediaToDown($sm) {
      padding-top: $padding-top - ($padding-top / 100) * 40;
    }
    @include mediaOnly($sm, $md) {
      padding-top: $padding-top - ($padding-top / 100) * 30;
    }
    @include mediaOnly($md, $lg) {
      padding-top: $padding-top - ($padding-top / 100) * 20;
    }
    @include mediaOnly($lg, $xl) {
      padding-top: $padding-top - ($padding-top / 100) * 10;
    }
    @include mediaToUp($xl) {
      padding-top: $padding-top;
    }
  }
  @if $padding-bottom {
    @include mediaToDown($sm) {
      padding-bottom: $padding-bottom - ($padding-bottom / 100) * 40;
    }
    @include mediaOnly($sm, $md) {
      padding-bottom: $padding-bottom - ($padding-bottom / 100) * 30;
    }
    @include mediaOnly($md, $lg) {
      padding-bottom: $padding-bottom - ($padding-bottom / 100) * 20;
    }
    @include mediaOnly($lg, $xl) {
      padding-bottom: $padding-bottom - ($padding-bottom / 100) * 10;
    }
    @include mediaToUp($xl) {
      padding-bottom: $padding-bottom;
    }
  }
}